@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&family=Oswald:wght@400;500;700&display=swap');

@import "tailwindcss";

@theme {
  /* Цвета */
  --color-brand-dark: #1A1A1A;     /* Основной фон */
  --color-brand-black: #111111;    /* Более темный для контраста */
  --color-brand-yellow: #FEE500;   /* Акцент */
  --color-brand-gray: #A1A1AA;     /* Текст описания */

  /* Шрифты */
  --font-heading: 'Oswald', sans-serif;
  --font-sans: 'Inter', sans-serif;
}

/* Глобальные стили для скролла и базы */
@layer base {
  body {
    @apply bg-[radial-gradient(ellipse_at_top,_var(--tw-gradient-stops))] from-[#2a2a2a] via-[#111] to-[#0a0a0a] text-white font-sans antialiased bg-fixed;
}
  
  /* Сделаем красивые заголовки по умолчанию */
  h1, h2, h3, h4, h5 {
    @apply font-heading uppercase font-bold tracking-wide;
  }
}