---
// src/pages/index.astro
import Layout from '../layouts/Layout.astro';
---

<Layout title="Marmol Honey | Главная">
    
    <!-- Hero Секция -->
    <section class="relative h-[80vh] flex items-center justify-center overflow-hidden">
        
        <!-- Тут потом будет фото на фоне, пока градиент -->
        <div class="absolute inset-0 bg-gradient-to-b from-brand-dark via-transparent to-brand-dark z-10"></div>
        
        <div class="relative z-20 text-center max-w-4xl px-4 mt-[-50px]">
            <h1 class="text-5xl md:text-8xl mb-6 text-white leading-tight">
                Чистый.<br/> 
                <span class="text-brand-yellow">Честный.</span><br/>
                Твой.
            </h1>
            <p class="text-lg md:text-xl text-gray-400 mb-8 max-w-lg mx-auto font-sans font-light">
                Мы собираем этот мёд своими руками в экологически чистых районах, чтобы ты почувствовал настоящий вкус природы.
            </p>
            
            <a href="/catalog" class="inline-block bg-brand-yellow text-brand-dark font-bold font-heading uppercase tracking-wider py-4 px-10 hover:bg-white transition-colors cursor-pointer">
                Перейти в каталог
            </a>
        </div>
    </section>

</Layout>